.sl-nav
  position fixed
  top 0
  left 0
  width 100%
  z-index 10
  height nav-height
  background nav-bg
  color nav-col
  box-shadow nav-box-shadow
  ul
    list-style-type none
    float left
    li
      cursor pointer
      float left
      line-height nav-height
      padding 0 15px
      color color3
      a
        color color3