main
  height 100%

.page
  margin-top base-nav-height

.simple-notification
  &.success
    background md-green-500 !important
    box-shadow base-box-shadow !important
    .progress
      span
        background md-green-700 !important

.meet
  width 100%
  padding 15px
  border-bottom base-border