.st-button
  background button-bg
  border button-border
  font-size button-fs
  cursor pointer
  padding button-padding
  box-shadow button-box-shadow
  color button-col
  outline none
  margin-top 20px
  &:active
    box-shadow button-hover-bs

  &:disabled
    background md-red-500
    box-shadow none
    cursor not-allowed