.form-block
  width 100%
  float left
  background base-bg-color2
  box-shadow base-box-shadow
  padding 20px
  position relative
  transition all 0.3s linear

  &.meet-block
    width 49%
    margin-right 2%
    margin-bottom 2%

    &:nth-child(2n)
      margin-right 0

  .progress
    position absolute
    top 0
    left 0
    width 100%
    height 5px

    span
      float left
      height 100%
      background md-teal-500
      border-right: 1px solid #ccc;

      &:last-child
        border-right none

.form-title
  margin 20px 0

.st-input

  .label
    font-size st-input-font-size
    padding st-input-padding
    width 100%
    float left

  .exp
    font-size st-input-font-size - 0.2em
    padding 7px 10px 15px
    width 100%
    float left

  input
  textarea
    padding st-input-padding
    border st-input-border
    font-size st-input-font-size
    border-radius st-input-border-radius
    width 100%
    float left

  .error-message
    width 100%
    float left
    padding st-input-padding
    transition all 0.3s linear
    .txt
      display inline-block
      vertical-align middle
    .material-icons
      vertical-align middle

@media (max-width: 500px)
  .form-block.meet-block
    width 100%
    margin-right 0