*
*::after
*::before
  box-sizing border-box

body
  padding 0
  margin 0
  font-size base-font-color1
  color base-font-color1
  font-family 'Roboto', sans-serif

ul
  margin 0
  padding 0

h1
h2
h3
p
  margin 0
  padding 0

a
  text-decoration none
  color base-link-color1