.margin-top
  margin-top 40px

.light
  font-weight 400
.lighter
  font-weight 300

.strong
  font-weight 600
.stronger
  font-weight 700

.left
  float left
.right
  float right

.text-center
  text-align center
.text-left
  text-align left
.text-right
  text-align right

// Material Colors
.red
  background md-red-500
.red-c
  color md-red-500
  svg
    fill md-red-500

.pink
  background md-pink-500
.pink-c
  color md-pink-500
  svg
    fill md-pink-500

.purple
  background md-purple-500
.purple-c
  color md-purple-500
  svg
    fill md-purple-500

.deep-purple
  background md-deep-purple-500
.deep-purple-c
  color md-deep-purple-500
  svg
    fill md-deep-purple-500

.indigo
  background md-indigo-500
.indigo-c
  color md-indigo-500
  svg
    fill md-indigo-500

.blue
  background md-blue-500
.blue
  color md-blue-500
  svg
    fill md-blue-500

.light-blue
  background md-light-blue-500
.light-blue-c
  color md-light-blue-500
  svg
    fill md-light-blue-500

.cyan
  background md-cyan-500
.cyan-c
  color md-cyan-500
  svg
    fill md-cyan-500

.teal
  background md-teal-500
.teal-c
  color md-teal-500
  svg
    fill md-teal-500

.green
  background md-green-500
.green-c
  color md-green-500
  svg
    fill md-green-500

.light-green
  background md-light-green-500
.light-green-c
  color md-light-green-500
  svg
    fill md-light-green-500

.lime
  background md-lime-500
.lime-c
  color md-lime-500
  svg
    fill md-lime-500

.yellow
  background md-yellow-500
.yellow-c
  color md-yellow-500
  svg
    fill md-yellow-500

.amber
  background md-amber-500
.amber-c
  color md-amber-500
  svg
    fill md-amber-500

.orange
  background md-orange-500
.orange-c
  color md-orange-500
  svg
    fill md-orange-500

.deep-orange
  background md-deep-orange-500
.deep-orange-c
  color md-deep-orange-500
  svg
    fill md-deep-orange-500

.brown
  background md-brown-500
.brown-c
  color md-brown-500
  svg
    fill md-brown-500

.grey
  background md-grey-500
.grey-c
  color md-grey-500
  svg
    fill md-grey-500

.blue-grey
  background md-blue-grey-500
.blue-grey-c
  color md-blue-grey-500
  svg
    fill md-blue-grey-500

