border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

box-sizing()
  -ms-box-sizing arguments
  -webkit-box-sizing arguments
  box-sizing arguments

backface-visibility()
  -ms-backface-visibility arguments
  -webkit-backface-visibility arguments
  backface-visibility arguments

transform()
  -ms-transform arguments
  -webkit-transform arguments
  transform arguments

transition()
  -ms-transition arguments
  -webkit-transition arguments
  transition arguments

perspective()
  -ms-perspective arguments
  -webkit-perspective arguments
  perspective arguments

perspective-origin()
  -ms-perspective-origin arguments
  -webkit-perspective-origin arguments
  perspective-origin arguments