//// Colors
color1 = #242424
color2 = #f5f5f5
color3 = #fff

accent-color1 = #ccc


//// Base

// Base Colors
base-bg-color1 = color2
base-bg-color2 = color3
base-font-color1 = color1
base-font-color2 = color3
base-link-color1 = accent-color1
base-link-color2 = color2

// Base Other
base-border = 1px solid #accent-color1
base-border-radius = 4px
base-font-size = 14px
base-container-max-width = 1440px