//// Colors
color1 = #242424
color2 = #f5f5f5
color3 = #fff

accent-color1 = #ccc


//// Base

// Base Colors
base-bg-color1 = color2
base-bg-color2 = color3
base-font-color1 = color1
base-font-color2 = color3
base-link-color1 = accent-color1
base-link-color2 = color2
base-box-shadow = 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
base-nav-height = 60px

// Base Other
base-border = 1px solid accent-color1
base-border-radius = 0
base-font-size = 14px
base-container-max-width = 1440px

// Nav
nav-height = 50px
nav-bg = md-teal-500
nav-col = base-font-color2
nav-box-shadow = base-box-shadow

//// Forms
st-input-padding = 7px 10px
st-input-border = base-border
st-input-border-radius = base-border-radius
st-input-font-size = 1.2em

// Butts
button-bg = md-teal-500
button-border = none
button-fs = 1.3em
button-padding = 10px 15px
button-box-shadow = base-box-shadow
button-col = color3
button-hover-bs = none